{% load static %}
<html>
  <head>
    <title>Django Password Manager</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" type="text/css">

		<script src="{% static 'js/vendor/jquery.js' %}"></script>
		<script src="{% static 'js/vendor/what-input.js' %}"></script>
		<script src="{% static 'js/vendor/foundation.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>

		<!-- Store request variables -->
		<script type="text/javascript">
			window._application_user_id = {{ request.user.id }};
			window._application_csrfmiddlewaretoken = "{{csrfmiddlewaretoken}}";
		</script>

  </head>

	{% block content %}
  <body>

		<div id="appLoginsViewer" v-show="shared.show_logins_table">

			<!--Logins Viewer -->
			<div class="adminBlock">
				<div class="row">
					<div class="medium-24 column">
						<div class="medium-4 column">
							<h2 class="setting-header">
								Logins&trade;
								<a href="#"
									value="Add Password"
									v-on:click="shared.should_add_login = true; invokeAddLoginModal()">
									<span class="icon-plus">Add</span>
								</a>
							</h2>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="column">
						<table cellspacing="0" cellpadding="10" class="prettyTable align-to-setting-title">
							<tr class = "odd-tr">
								<th width=35%><strong>Organization</strong></th>
								<th width=20% class="hide-for-small"><strong>Login URL</strong></th>
								<th width=20%><strong>Username</strong></th>
								<th width=25%><strong>Password</strong></th>
								<th width=10% class="hide-for-small" width=120><strong>Actions</strong></th>
							</tr>

							<tr v-for="(login, idx) in shared.logins_list"
								:class="{'even-tr': idx % 2 === 0, 'odd-tr': idx % 2 !== 0 }">
								<td> [[ login.organization ]]</td>
								<td class="hide-for-small">
									<a v-bind:href="login.url" target="_blank">[[login.url]]</a>
								</td>
								<td>[[ login.username ]]</td>
								<td>
									<div class="row collapse">
										<div class="column medium-18"
											v-on:mouseover="toggleHoverPassword(true, idx, login)"
											v-on:mouseleave="toggleHoverPassword(false, idx, login)">

											<div class="row collapse">
												<div class="column medium-18">
													<input :type="login.password_field_type" v-model="login.password" class="invisible-input" readonly>
												</div>
												<div class="column medium-6">
													<a href="#"
													v-show="canShowCopyButton(login)"
													v-on:click="copyToClipboard(login)">Copy</a>
												</div>
											</div>
										</div>
										<div class="column medium-6">
											<a href="#" v-on:click="revealPassword(idx, login)">[[login.buttonText]]</a>
										</div>
									</div>
								</td>
								<td class="hide-for-small">
									<a href="#change-login" value="Change Login"
									v-on:click="onChangeLoginEntry(login); invokeAddLoginModal()">Change</a>
									|
									<a href="#delete-login" value="Delete Login"
									v-on:click="onDeleteLoginEntry(login); invokeDeleteLoginModal">Delete</a>
								</td>
							</tr>

							<!-- empty-->
							<tr v-if="shared.logins_list == ''">
								<td colspan="5" style="text-align:center;">Currently No Items to Show</td>
							</tr>
						</table>
					</div>
				</div>

			</div>

		</div>




		<!-- Login to app -->
		<div id="appDoLogin" v-show="!shared.show_logins_table">
			<!-- Do Login Modal -->
			<div id="doLogin" class="reveal small" data-reveal>
				<div class="adminBlock">
					<h2 class="setting-header">
						Login to Logins&trade;
					</h2>
				</div>

				<div class="row field-alert" v-show="show_error_message">
					<h5><i>[[login_error_message]]</i></h5>
					<br>
				</div>

				<h4 class="modal-detail">Password</h4>
				<br>
				<div class="text-input-field relative">
					<input type="password" class="input-outline" placeholder= ""  name="password"
						@keyup.enter="executeLogin()" v-model="user_password">
				</div>

				<div class="row">
					<br><br>
					<h5><i>Please re-enter your FRANBOX password.</i></h5>
					<br><br>
				</div>

				<div class="row collapse">
					<div class="column medium-12 left ">
						<a href="/" class="close-button" v-on:click="redirectToMain()">Cancel</a>
					</div>
					<div class="column medium-12 right">
						<input id='doLogin' class = "button-right" type="submit" value="Login" v-on:click="executeLogin()">
					</div>
				</div>

			</div>
		</div>

		<!-- Add or Change Login Modal -->
		<div id="appAddOrChangeLogin" class="reveal small" data-reveal>
			<div class="adminBlock">
				<h2 class="setting-header">
					Login Details
				</h2>
			</div>

			<div class="row field-alert" v-show="show_aoc_error_message">
				<h5><i>[[aoc_error_message]]</i></h5>
				<br>
			</div>

			<h4 class="modal-detail">Name of Organization</h4>
			<div class="text-input-field relative">
				<input type="text" placeholder=""  name="organization_name"
				@keyup.enter="addOrChangeLoginEntry()" v-model="organization_name">
			</div>

			<h4 class="modal-detail">Login URL</h4>
			<div class="text-input-field relative">
				<input type="url" placeholder="http://example.com"  name="login_url"
				@keyup.enter="addOrChangeLoginEntry()" v-model="login_url">
			</div>

			<div class="row collapse">
				<div class="column medium-12 left">
					<h4 class="modal-detail">Username</h4>
					<div class="text-input-field relative">
						<input type="text" placeholder=""  name="user_name"
						@keyup.enter="addOrChangeLoginEntry()" v-model="user_name">
					</div>
				</div>
				<div class="column medium-12 right">
					<h4 class="modal-detail">Confirm Password</h4>
					<div class="text-input-field relative">
						<input type="text" placeholder=""  name="new_password"
						@keyup.enter="addOrChangeLoginEntry()" v-model="new_password">
					</div>
				</div>
			</div>

			<br>

			<div class="row collapse">
				<div class="column medium-12 left ">
					<a href="#" class="close-button" v-on:click="clearFields()">Cancel</a>
				</div>
				<div class="column medium-12 right">
					<input id='saveAddLogin' class = "button-right" type="submit" value="Save"
					v-on:click="addOrChangeLoginEntry()">
				</div>
			</div>

		</div>

		<!-- Delete Login Modal -->
		<div id="appDeleteLogin" class="reveal small" data-reveal>
			<div class="adminBlock">
				<h2 class="setting-header">
					Delete Login
				</h2>
			</div>

			<h4 class="modal-detail">Are you sure you want to delete this login? This operation cannot be reversed.</h4>

			<br>

			<div class="row collapse">
				<div class="column medium-12 left ">
					<a href="#" class="close-button">Cancel</a>
				</div>
				<div class="column medium-12 right">
					<input id='deleteLogin' class = "button-right" type="submit" value="Delete"
					v-on:click="deleteLoginEntry()">
				</div>
			</div>

		</div>

	</body>

{% endblock %}

{# Styles #}
<style type="text/css"></style>

{# Scripts #}
{% block page_scripts %}
	<!-- Vuejs -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script src="{% static 'src/App.js' %}"></script>


{% endblock %}
